{% extends "::base.html.twig" %}

{% block fos_user_content %}
{% if error %}
    <div>{{ error|trans({}, 'FOSUserBundle') }}</div>
{% endif %}
<div class="login-screen">
<form action="{{ path("fos_user_security_check") }}" method="post">
    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

    {#<label for="username">{{ 'security.login.username'|trans({}, 'FOSUserBundle') }}</label>#}
    {#<input type="text" id="username" name="_username" value="{{ last_username }}" required="required" />#}

    {#<label for="password">{{ 'security.login.password'|trans({}, 'FOSUserBundle') }}</label>#}
    {#<input type="password" id="password" name="_password" required="required" />#}


    {#<label for="remember_me" class="checkbox">#}
        {#<span class="icon"></span>#}
        {#<span class="icon-to-fade"></span>#}
        {#<input type="checkbox" id="remember_me" value="on" />#}
        {#{{ 'security.login.remember_me'|trans({}, 'FOSUserBundle') }}#}
    {#</label>#}

{#</form>#}
    <div class="login-form">
        <div class="control-group">
            <input type="text" id="login-name" placeholder="Enter your name" value="" name="_username" class="login-field">
            <label for="login-name" class="login-field-icon fui-man-16">{{ 'security.login.username'|trans({}, 'FOSUserBundle') }}</label>
        </div>

        <div class="control-group">
            <input type="password" id="login-pass" placeholder="Password" value="" name="_password" class="login-field">
            <label for="login-pass" class="login-field-icon fui-lock-16">{{ 'security.login.password'|trans({}, 'FOSUserBundle') }}</label>
        </div>
        <input type="submit" id="_submit" name="_submit" class="btn btn-large btn-primary btn-block" value="{{ 'security.login.submit'|trans({}, 'FOSUserBundle') }}" />
        <a href="#" class="login-link">Lost your password?</a>
    </div>
</form>
</div>
{% endblock fos_user_content %}
